table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

button{
  background-color: #57e2af;
  border:1px solid #57e2af;
  border-radius: 5px;
  margin-left: 20px;
}

button:hover{
  background-color: #03bb7b;
  cursor: pointer;
}

